	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Library</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="css/book/book/css/linearicons.css">
			<link rel="stylesheet" href="css/book/book/css/font-awesome.min.css">
			<link rel="stylesheet" href="css/book/book/css/bootstrap.css">
			<link rel="stylesheet" href="css/book/book/css/magnific-popup.css">
			<link rel="stylesheet" href="css/book/book/css/nice-select.css">					
			<link rel="stylesheet" href="css/book/book/css/animate.min.css">
			<link rel="stylesheet" href="css/book/book/css/owl.carousel.css">
			<link rel="stylesheet" href="css/book/book/css/main.css">
		</head>
		<body>

			  <header id="header" id="home">
			    <div class="container">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="index.html"><img src="css/image/logo.png" alt="" title="" /></a>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li class="menu-active"><a href="#home">Home</a></li>
				          <li><a href="#about">About</a></li>
				          <li><a href="#fact">Fact</a></li>
				          <li><a href="#course">Course</a></li>
				          <li class="menu-has-children"><a href="">Pages</a>
				        </ul>
				      </nav><!-- #nav-menu-container -->		    		
			    	</div>
			    </div>
			  </header><!-- #header -->


			<!-- start banner Area -->
			<section class="banner-area" id="home">	
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-start">
						<div class="banner-content col-lg-7">
							<h5 class="text-white text-uppercase">Author: Radim Malinic</h5>
							<h1 class="text-uppercase">
								Book of Ideas				
							</h1>
							<p class="text-white pt-20 pb-20">
								Book of Ideas is just that: an outpouring of what one creative director and designer has discovered from many years working in the strange and endlessly fascinating world of the creative industry.
							</p>
							<a href="#" class="primary-btn text-uppercase">Buy Now for $20.69</a>
						</div>
						<div class="col-lg-5 banner-right">
							<img class="img-fluid" src="css/book/book/img/header-img.png" alt="">
						</div>												
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start about Area -->
			<section class="section-gap info-area" id="about">
				<div class="container">				
					<div class="single-info row mt-40 align-items-center">
						<div class="col-lg-6 col-md-12 text-center no-padding info-left">
							<div class="info-thumb">
								<img src="css/book/book/img/about-img.jpg" class="img-fluid info-img" alt="">
							</div>
						</div>
						<div class="col-lg-6 col-md-12 no-padding info-rigth">
							<div class="info-content">
								<h2 class="pb-30">Radim Malinic</h2>
								<p>
									Radim Malinic is a creative director and designer living and working in South West London. He runs Brand Nu, a multidisciplinary award-winning studio.Before finding his calling in the creative industry, Czech born Malinic was an ice hockey player, a bassist in death metal bands, an indie DJ, music journalist and student of Economics and Business management. At the break of the new millennium, Malinic moved to the UK to explore the expansive music scene, only to find even a greater interest in art and graphic design. Since then his eclectic interests have seen him working with some of the biggest brands, companies and bands in the world. Clients include Harry Potter, London Film Museum, SyCo, Sprite, WWF and USAID amongst many others.								
								</p>
								<br>
								<p>
									Aside from his studio work, Radim designs products for his brand ‘November Universe’, he releases music and tours globally with his talk designed to inspire and support self-development in the creative industry.In March 2016, Malinic released his latest publication, Book of Ideas.Sharing advice on everything from inspiration to inbox control, facing your fears, finding happiness in your work, the art of self-promotion and beating creative block. It is also illustrated with some of the most important and resonant portfolio projects. Book of Ideas is an invaluable tool to any creative at any stage in their career.
									
								</p>
								<br>
								<img src="css/book/book/img/signature.png" alt="">
								</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End about Area -->
		
			<!-- Start fact Area -->
			<section class="fact-area relative section-gap" id="fact">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-40 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Some Features that Made us Unique</h1>
								<p>Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div>						
				</div>	
			</section>
			<!-- End fact Area -->
			
			<!-- Start counter Area -->
			<section class="counter-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6">
							<div class="single-counter">
								<h1 class="counter">2536</h1>
								<p>Happy Clients</p>								
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-counter">
								<h1 class="counter">6784</h1>
								<p>Total Projects</p>								
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-counter">
								<h1 class="counter">1059</h1>
								<p>Cups Coffee</p>								
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-counter">
								<h1 class="counter">12239</h1>
								<p>Tickets Submitted</p>								
							</div>
						</div>												
					</div>
				</div>	
			</section>
			<!-- end counter Area -->
			<!-- Start course Area -->
			<section class="course-area section-gap" id="course">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-9">
							<div class="title text-center">
								<h1 class="mb-10">Top Courses That are open for Students</h1>
								<p>Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="active-course-carusel">
							<div class="single-course item">
								<img class="img-fluid" src="css/image/book2.jpg" alt="">
								<p class="sale-btn">For Sale</p>
								<div class="details">
									<a href="#"><h4>Cosmos <span class="price float-right">$10</span></h4></a>	
									<p>
										Cosmos is one of the bestselling science books of all time. In clear-eyed prose, Sagan reveals a jewel-like blue world inhabited by a life form that is just beginning to discover its own identity and to venture into the vast ocean of space. Featuring a new Introduction by Sagan's collaborator, Ann Druyan, and a new Foreword by astrophysicist Neil deGrasse Tyson, Cosmos retraces the fourteen billion years of cosmic evolution that have transformed matter into consciousness, exploring such topics as the origin of life, the human brain, Egyptian hieroglyphics, spacecraft missions, the death of the Sun, the evolution of galaxies, and the forces and individuals who helped to shape modern science.
									</p>
								</div>
							</div>
							<div class="single-course item">
								<img class="img-fluid" src="css/image/book1.jpg" alt="">
								<p class="sale-btn">For Sale</p>
								<div class="details">
									<a href="#"><h4>Algorithms to Live By<span class="price float-right">$25</span></h4></a>	
									<p>
										In a dazzlingly interdisciplinary work, acclaimed author Brian Christian and cognitive scientist Tom Griffiths show how the simple, precise algorithms used by computers can also untangle very human questions. They explain how to have better hunches and when to leave things to chance, how to deal with overwhelming choices and how best to connect with others. From finding a spouse to finding a parking spot, from organizing one's inbox to understanding the workings of human memory, Algorithms to Live By transforms the wisdom of computer science into strategies for human living.
									</p>
								</div>
							</div>
							<div class="single-course item">
								<img class="img-fluid" src="css/image/book3.jpg" alt="">
								<p class="sale-btn">For Sale</p>
								<div class="details">
									<a href="#"><h4>Ghost in the Wires <span class="price float-right">$25</span></h4></a>	
									<p>
										Ghost in the Wires is a thrilling true story of intrigue, suspense, and unbelievable escape and a portrait of a visionary whose creativity, skills, and persistence forced the authorities to rethink the way they pursued him, inspiring ripples that brought permanent changes in the way people and companies protect their most sensitive information.
									</p>
								</div>
							</div>								
						</div>											
					</div>
				</div>	
			</section>
			<!-- End course Area -->

			<!-- Start testomial Area -->
			<section class="testomial-area section-gap">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">What our Reader’s Say about us</h1>
								<p>Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="active-tstimonial-carusel">
							<div class="single-testimonial item">
								<img class="mx-auto" src="css\image\1.jpg" alt="">
								<p class="desc">
									This book is perfect for some inspiration! The written content is great and the design of the book is amazing!
								</p>
								<h4>Lee Morgan</h4>
								<p>
									Reviewed in the United States
								</p>
							</div>
							<div class="single-testimonial item">
								<img class="mx-auto" src="css/image/4.jpg" alt="">
								<p class="desc">
									Awesome book ! Inspire me to keep following my creative path.
								</p>
								<h4>Jason Walker</h4>
								<p>
									Reviewed in the United States 
								</p>
							</div>
							<div class="single-testimonial item">
								<img class="mx-auto" src="css/image/5.jpg" alt="">
								<p class="desc">
									This book is truly beautiful, and serves as a potent reminder that design is everywhere. It's sometimes hard to remember that because we have so much competing for our attention. This book makes you stop. I'm grateful for the lessons shared.
								</p>
								<h4>Pam</h4>
								<p>
									Reviewed in the United States 
								</p>
							</div>	
							<div class="single-testimonial item">
								<img class="mx-auto" src="css/image/2.jpg" alt="">
								<p class="desc">
									Book of Ideas was a very pleasant surprise to me. I expected this to be a sort of cold list of case studies, possibly self-promoting and self-referencing. But what the author has achieved here is a very good piece of storytelling: never overly endorsing himself for his achievements and the range of clients but rather distributing pills of Creative Direction that are easy to digest and good for your Creative spirit.
								</p>
								<h4>Steve Alomia</h4>
								<p>
									Reviewed in the United States 
								</p>
							</div>
							<div class="single-testimonial item">
								<img class="mx-auto" src="css/image/3.jpg" alt="">
								<p class="desc">
									Book of ideas Vol 1 is an incredible material for both experienced and those just starting their career in design and branding. It is filled with golden and practical advice that money can't buy. It has helped me in my design decisions and clients engagement.
								</p>
								<h4>CN Rooney</h4>
								<p>
									Reviewed in India
							</div>
							<div class="single-testimonial item">
								<img class="mx-auto" src="css/image/Carlos_Flavian2.jpg" alt="">
								<p class="desc">
									Inspirational. Aesthetically stunning. Provocative. It’s less about a narrative and more about inspiration. If you’re a creative, you’ll love this book.
								</p>
								<h4>fabienb</h4>
								<p>
									Reviewed in the US
								</p>
							</div>															
							<div class="single-testimonial item">
								<img class="mx-auto" src="css/book/book/img/t1.png" alt="">
								<p class="desc">
									Came across this book on Amazon and I’m so happy I did. This book has inspired me in so many ways, you can relate to so many thing said in this book, it’s definitely a book you need on your shelf. From the layout to the print it’s definitely one of the best graphic design books Ive read so far, can’t wait for V2.
								</p>
								<h4>kunle Adelusi</h4>
								<p>
									Reviewed in the United Kingdom
								</p>
							</div>
							<div class="single-testimonial item">
								<img class="mx-auto" src="css/book/book/img/t2.png" alt="">
								<p class="desc">
									A fantastically written book of one man's journey, experience and ideas of what it takes to follow one's passions for creativity and collaboration in the world of graphic design. The numerous and varied examples are more than enough to get the grey matter ticking and the creative juices flowing. 
								</p>
								<h4>Becks Ulyatt</h4>
								<p>
									Reviewed in the United Kingdom
								</p>
							</div>													
						</div>
					</div>
				</div>	
			</section>
			<!-- End testomial Area -->
			

			<!-- start footer Area -->		
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>About Us</h6>
								<p>
									A library is a curated collection of sources of information and similar resources, selected by experts and made accessible to a defined community for reference or borrowing, often in a quiet environment conducive to study. 
								</p>
								<p class="footer-text">
								 Copyright @2020
								</p>								
							</div>
						</div>
						<div class="col-lg-5  col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>Newsletter</h6>
								<p>Stay update with our latest</p>
								<div class="" id="mc_embed_signup">
									<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
										<input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
			                            	<button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
			                            	<div style="position: absolute; left: -5000px;">
												<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
											</div>

										<div class="info"></div>
									</form>
								</div>
							</div>
						</div>						
						<div class="col-lg-2 col-md-6 col-sm-6 social-widget">
							<div class="single-footer-widget">
								<h6>Follow Us</h6>
								<p>Let us be social</p>
								<div class="footer-social d-flex align-items-center">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-dribbble"></i></a>
									<a href="#"><i class="fa fa-behance"></i></a>
								</div>
							</div>
						</div>							
					</div>
				</div>
			</footer>	
			<!-- End footer Area -->	

			<script src="css/book/book/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="css/book/book/js/vendor/bootstrap.min.js"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="css/book/book/js/easing.min.js"></script>			
			<script src="css/book/book/js/hoverIntent.js"></script>
			<script src="css/book/book/js/superfish.min.js"></script>	
			<script src="css/book/book/js/jquery.ajaxchimp.min.js"></script>
			<script src="css/book/book/js/jquery.magnific-popup.min.js"></script>	
			<script src="css/book/book/js/owl.carousel.min.js"></script>			
			<script src="css/book/book/js/jquery.sticky.js"></script>
			<script src="css/book/book/js/jquery.nice-select.min.js"></script>			
			<script src="css/book/book/js/parallax.min.js"></script>	
			<script src="css/book/book/js/waypoints.min.js"></script>
			<script src="css/book/book/js/jquery.counterup.min.js"></script>			
			<script src="css/book/book/js/mail-script.js"></script>	
			<script src="css/book/book/js/main.js"></script>	
		</body>
	</html>



